extends layout
block content
  .row
    .col-md-8
      h1="Create Template"
      form.form-horizontal.well(method="post", action="/" encType="multipart/form-data")
        .form-group
          input.form-control(type="text",accept=".xls,.xlsx" name="template", placeholder="File Name" )
          table.table.table-borderless
            thead.thead-dark
              tr
                th A
                th B
            tbody
              each item,index in array
                tr
                  td=index          
                  td 
                    select(name=index, id='')
                      each val in array
                        option(value=(val)) #{val}
        .form-group
          .col-sm-offset-2.col-sm-10
            input.btn.btn-default(type="submit", value="Create Template" onclick="javascript: form.action='/createtemplate';")