body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  select {
    width: 100%;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 45px;
    font-size: 15px;
    float: left;
  }
  #table-wrapper {
    display: flex;
    
  }
.btn {
    padding: 5px 10px;
    margin-right: 20px;
  }
